* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Bruno";
  src: url("./fonts/Bruno.ttf");

}

body {
  overflow: hidden;
  background-color: rgb(24, 24, 24);
  z-index: -2;
}

Canvas {
  overflow: hidden !important;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  left: 0;
  background-color: rgba(24, 24, 24, 0);
}

.home {
  width: "100vh";
  height: "100vw";
  position: absolute;
  background-color: rgb(24, 24, 24);
  z-index: 1;
}

.about {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1;

}

.about>section {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: rgb(189, 179, 245);
}

.article-about {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 100px 500px;
  width: 600px;
  top: -100px;
  right: -100px;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: wheat;
  z-index: -1;
}

.about h1 {
  width: 1100px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  font-family: "Bruno";
  font-size: 1rem;
}

.about p {
  width: 800px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 100px;
  font-family: "Bruno";
  font-size: 1rem;
}

.back-about {
  position: absolute;
  left: 200px;
  width: 1700px;
  opacity: 0;
  height: 100vh;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background-color: rgba(187, 173, 201, 0.801);
  z-index: -1;
}

.calendar {
  position: absolute;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Bruno Ace SC', cursive;
  background-color: rgb(182, 168, 168);
  backdrop-filter: blur(10px);
}

.ct-calendar {
  position: absolute;
  width: 60%;
  height: 100%;
  display: flex;
  margin: 50px;
  flex-direction: column;
}


.head-calendar {
  top: 0;
  width: 85%;
  margin-left: 75px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  color: rgb(155, 220, 250);
}

.days-calendar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  color: rgb(155, 220, 250);
}

.days-calendar h3 {
 
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1rem;
}

.nums-calendar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.nums-calendar h2 {
  width: 120px;
  height: 40px;
  border-top: 1px solid red;
  border-right: 1px solid red;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 1rem;
  margin: 5px;
}

.nums-calendar h2:hover {
  background-color: rgba(167, 216, 216, 0.692);
  transition: all 0.5s;
}

.footer-calendar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  cursor: pointer;
  color: wheat;
}

.ct-calculator {
  overflow: hidden;
  position: absolute;
  top: -900px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(236, 117, 117);
  backdrop-filter: blur(10px);
}

.screen {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: end;
  top: -260px;
  left: -167px;
  font-size: 1rem;
  width: 310px;
  height: 70px;
  position: absolute;
  color: rgb(136, 81, 17);
  font-family: 'Yantramanav', sans-serif;
}

.ct-email {
  position: absolute;
  top: 0px;
  left: 0px;
  position: "absolute";
  color: rgba(245, 222, 179, 0);
  width: 100vw;
  height: 100vh;
  font-size: 6rem;
  font-family: Bruno Ace SC;
  background-color: rgb(10, 10, 10);
}

.ct-email form {
  position: absolute;
  top:200px;
  left: 600px;
}

.ct-email textarea{
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;

}

.ct-mail section{
  width: 100px;
  height: 100px;
}

.btn-close{
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;  
  z-index: 1;
}

.btn-submit{
  position: absolute;
  top: 250px;
  width: 100px;
  height: 50px; 
  border-radius: 5px; 
  z-index: 2;
  background-color: red;
}

.ct-email h3 {
  position: absolute;
  z-index: 1;
  top: 200px;
  width: 200px;
  left: 50px;
  color: rgb(106, 129, 158);
  font-size: 3rem;
}
