* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Bruno";
  src: url("./fonts/Bruno.ttf");

}

@font-face {
  font-family: "Moguinne";
  src: url("./fonts/MoguineSerif_PERSONAL_USE_ONLY.otf");

}

body {
  overflow: hidden;
  background-color: rgb(24, 24, 24);
  z-index: -2;
}

Canvas {
  overflow: hidden !important;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  left: 0;
  background-color: rgba(24, 24, 24, 0.212);
}

.home {
  width: "100vh";
  height: "100vw";
  position: absolute;
  background-color: rgb(24, 24, 24);
  z-index: 1;
}

.about {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(96, 117, 131, 0.089);
  justify-content: center;
  align-items: center;
  z-index: 1;

}

.about>section {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: rgb(189, 179, 245);
}

.article-about {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 100px 500px;
  width: 600px;
  top: -100px;
  right: -100px;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: wheat;
  z-index: -1;
}

.about h1 {
  width: 1100px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  font-family: "Bruno";
  font-size: 8rem;
}

.about p {
  width: 800px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 100px;
  font-family: "Moguine";
  font-size: 3rem;
}

.back-about {
  position: absolute;
  left: 200px;
  width: 1700px;
  opacity: 0;
  height: 100vh;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background-color: rgba(187, 173, 201, 0.801);
  z-index: -1;
}

.ct-calendar {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 207, 207);
  font-weight: 100px;
}

.ct-calendar button {
  position: absolute;
  top:575px;
  left: -200px;
  width: 75px;
  height: 50px;
  cursor: pointer;
}

.section-calendar {
  position: absolute;
  width: 70%;
  height: 80%;
}

.days-calendar {
  position: absolute;
  top: -15px;
  width: 100%;
  display: flex;
  font-family: 'Yantramanav', sans-serif;
  justify-content: space-between;
}

.days-calendar h2 {
  width: 175px;
  text-align: center;
}

.nums-calendar {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nums-calendar h2 {
  width: 150px;
  height: 100px;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  cursor: pointer;
}

.ct-calculator{
  overflow: hidden;
  position: absolute;
  top:-900px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(236, 117, 117);
  backdrop-filter: blur(10px);
}

.screen{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: end;
  top:-260px;
  left: -167px;
  font-size: 3rem;
  width: 310px;
  height:70px;
  position: absolute;
  color:rgb(136, 81, 17);
  font-family: 'Yantramanav', sans-serif; 
}